body {
	text-align: center;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-image: linear-gradient(to right, white, lightblue);
}

input {
	font-size: 20px;
	width: 250px;
	height: 35px;
}
h1 {
	text-shadow: 5px 5px 2px white;
	font-size: 50px;
}
#submit-btn {
	font-size: 20px;
	width: 100px;
	height: 40px;

}

#restart-btn {
	display: none;
}

.makeButtonVisible {
	display: inline !important;
}

tr, td {
	border: 2px solid black;
	background-color: white;
	padding: 10px;
}

table {
    border-collapse: collapse;
}
#contentForOne,
#contentForTwo {
	display: inline;
}

#winner {
	font-size: 75px;
	color: green;
	font-weight: bold;
	animation: flashingText 3s infinite;
}


@keyframes flashingText {
	0% {
		color: green;
	}

	25% {
		color: white;
	}

	50% {
		color: green;
	}

	75% {
		color: white;
	}

	100% {
		color: green;
	}
}


