#restart-btn {
	display: none;
}

.makeButtonVisible {
	display: inline !important;
}

tr, td {
	border: 2px solid black;
}

table {
    border-collapse: collapse;
}
#contentForOne,
#contentForTwo {
	display: inline;
}

#winner {
	font-size: 40px;
	color: green;
	font-weight: bold;
	animation: flashingText 3s infinite;
}


@keyframes flashingText {
	0% {
		color: green;
	}

	25% {
		color: white;
	}

	50% {
		color: green;
	}

	75% {
		color: white;
	}

	100% {
		color: green;
	}
}